<!-- eslint-disable max-len -->
    <section class="login">
        <div class="login__logo-wrapper">
            <oe-icon
                class="icon-cross"
                width="56"
                height="36"
                src="netcracker__logo"
            ></oe-icon>
            <h1 class="login__logo-text">Cloud BSS</h1>
        </div>
        <div class="login__form-wrapper">
            <h1 class="login__context">Feature Tester</h1>
            <form  class="login__form" #loginForm="ngForm"  (ngSubmit)="onSubmit()">
                <h1 class="login__header">Login</h1>
                <div class="login__wrapper">
                    <label class="login__label" for="name" [ngClass]="{'alert-danger': (!pass && submitted) || (name.errors?.['required'] && name.touched)}">User Name</label>
                    <input type="text" id="name" class="login__input-feild" required name="name" [(ngModel)]="login.userName" #name="ngModel" [ngClass]="{'alert-danger__border': (!pass && submitted) || (name.errors?.['required'] && name.touched)}">
                    <div class="login__error error__user-not-found alert alert-danger" *ngIf="!pass && submitted">
                        User with given username doesn't exist
                    </div>
                    <div *ngIf="name.invalid && (name.dirty || name.touched)"
                        class="alert alert-danger">
                        <div *ngIf="name.errors?.['required']">
                          User name is required.
                        </div>
                    </div>
                    </div>
                <div class="login__wrapper">
                    <label 
                        class="login__label login__label--password"
                        for="password" 
                        [ngClass]="{'alert-danger': (password.errors?.['required'] && (password?.dirty || password?.touched))}"
                    >
                        Password
                    </label>
                    <input type="password" id="password" class="login__input-feild" name="password" required [(ngModel)]="login.password" #password="ngModel" [ngClass]="{'alert-danger__border': (!this.passMatch && submitted) || (password.errors?.['required'] && password.touched)}">
                    <div class="login__error error__password alert alert-danger">

                    </div>
                    <div *ngIf="password?.invalid && (password?.dirty || password?.touched)"
                        class="alert alert-danger">
                        <div *ngIf="password?.errors?.['required']">
                          Password is required
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn login__btn">Submit</button>
                <div class="login__other-ways">
                    <p class="login__reset">Forgot your password? <a href="#" class="login__reset-link link"> Reset it.</a></p>
                    <p class="login__register">Don’t have an account? 
                        <a [routerLink]="'/registration'" class="login__register-link link">Register now!</a></p>
                </div>
            </form>
        </div>
    </section>